body {
    padding: 25px;
}

header {
    border-bottom: 2px solid rgb(0,0,0);
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
    list-style: none;
}

a {
    color: rgb(0, 153, 0);
    text-decoration: none;
    padding: 15px;
}

header h1 {
    text-transform: uppercase;
}