@media (max-width: 768px) {
    .wrapper > header p {
        font-size: 0.5rem;
    }

    .wrapper.style2 {
        padding: 1rem;
    }

    .gallery > * {
        flex-basis: 100%;
    }

    .spotlight > * {
        flex-basis: 100%;
    }

    .spotlight .inner {
        padding: 1rem;
        text-align: center;
    }
}