* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
}

section {
    width: 70%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    margin-top: 50px;
    background-color: rgb(238, 237, 237);
}

.content {
    padding: 0px 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 16px;
}

h1 {
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 32px;
}

p {
    color: rgb(98, 97, 97);
    line-height: 1.7;
    font-size: 18px;
    margin-bottom: 48px;
}

.first-link {
    flex-basis: 30%;
    padding: 12px 32px;
    text-decoration: none;
    color: white;
    background-color: rgb(88, 88, 243);
    border-radius: 4px;
}

.sec-link {
    padding: 12px 32px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    margin-left: 12px;
}

.image {
    width: 512px;
    height: 512px;
    padding: 0px 64px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.image img {
    width: 412px;
    height: 412px;
}