@import 'https://use.fontawesome.com/releases/v6.2.1/css/all.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 32px;
}

header div {
    display: flex;
    align-items: center;
}

header h1 {
    padding: 6px 18px;
    border-right: 1px solid black;
    margin-right: 12px;
}

header h2 {
    font-size: 20px;
    font-weight: 300;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    padding: 20px;
    background-color: rgb(235, 235, 235);
    font-size: 20px;
}

header nav ul li:not(:last-of-type) {
    margin-right: 4px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li:first-of-type {
    background-color: rgb(234, 58, 58);
}

.white {
    color: white;
}

main {
    width: 100vw;
    max-width: 100%;
}

.image-main {
    width: 100%;
    height: 50vh;
}

.image-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    background-color: rgb(234, 58, 58);
    color: white;
    height: 20vh;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info p {
    flex-basis: 80%;
    opacity: 0.7;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
    font-weight: bold;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 400px;
    background-color: rgb(60, 60, 60);
}

.icons div {
    flex-basis: 20%;

    text-align: center;
}

.icons div p, .icons div hr {
    color: rgb(115, 115, 115);
    line-height: 1.5;
}

.icons div hr {
    margin-bottom: 16px;
}

.icons div h3 {
    margin-bottom: 16px;
    font-weight: 300;
}

.icons div h3, .icons div i {
    color: white;
}

.icons div i {
    font-size: 70px;
    background-color: rgb(234, 58, 58);
    padding: 24px;
    margin-bottom: 16px;
}

.link-section {
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.link-section h2 {
    font-size: 36px;
    font-weight: 300;
    color: rgb(60, 60, 60);
}

.link-section p {
    color: rgb(115, 115, 115);
    line-height: 1.5;
    margin-bottom: 24px;
}

.link-section a {
    text-decoration: none;
    color: white;
    background-color: rgb(57, 149, 111);
    padding: 16px 38px;
    letter-spacing: 2px;
}

.articles {
    height: 300px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    text-align: center;
    background-color:  rgb(60, 60, 60);
}

.articles div {
    flex-basis: 20%;
}

.articles div h3 {
    color: white;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 24px;
}

.articles div p {
    color: rgb(115, 115, 115);
}

footer {
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(57, 149, 111);
}

footer p {
    opacity: 0.3;
    color: white;
}
