html {
    font-family: Helvetica, sans-serif;
    margin: 50px;
}

header h1, nav, nav ul li {
    display: inline-block;
}

nav ul li {
    padding: 15px;
}

a {
    text-decoration: none;
    color: green;
}