@media (max-width: 600px) {
    .navbar {
        justify-content: center;
    }
    
    .hero img {
        display: none;
    }

    .hero h1 {
        margin-top: 50px;
    }

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    p {
        text-align: center;
    }

    .hero-btns {
        margin-bottom: 50px;
        text-align: center;
    }

    .hero-btns a {
        display: inline-block;
    }

    .hero-btns a:first-child {
        padding: 17px 60px;
    }

    h2 {
        text-align: center;
    }

    h5 {
        text-align: center;
        margin-top: 25px;
    }

    #contact-us .container .row:nth-child(3) .col-12:nth-child(2) {
        display: none;
    }

    .contact-nav {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-nav li {
        flex-basis: 100%;
    }
}